@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
  }

.active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}